<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75419695959-dolsv3pb5q0emi81r24b66i0icgcdvd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75419695959-dolsv3pb5q0emi81r24b66i0icgcdvd9</string>
	<key>API_KEY</key>
	<string>AIzaSyC2hFZEDYHeaoKxWDd9SMaQIIcqGZ8JDcI</string>
	<key>GCM_SENDER_ID</key>
	<string>75419695959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derekhsieh.qatesting</string>
	<key>PROJECT_ID</key>
	<string>qatest-55592</string>
	<key>STORAGE_BUCKET</key>
	<string>qatest-55592.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75419695959:ios:7d21c5673733459d725c12</string>
</dict>
</plist>